# Environment files
.env
.idea
dump.rdb
.idea/dataSources.local.xml
front/node_modules

# Python build files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django files
*.log
*.pot
*.mo
db.sqlite3
media/
staticfiles/
back/staticfiles/

# Test and coverage
.coverage
.coverage.*
.cache
.pytest_cache/
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Documentation
docs/.vuepress/dist/
docs/.vitepress/dist/
docs/node_modules/
docs/.temp/
**/cache/*

# Editor files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
*.sublime-workspace
*.sublime-project

# Backup files
*.bak

# Jupyter Notebook
.ipynb_checkpoints

# Mac OS
.DS_Store
